h1{ color: rgba(0,200,87,0.8)
	border color: pink;
	border-style: solid;
	border-width: 6px;
	 }
	 h4{ background: rgb(0,255,120); }
	 body{ background: url(https://image.freepik.com/free-photo/fine-sand-background_23-2147670172.jpg);
	 	background-repeat: no-repeat;
	 	background-size: cover;
	 }
