.header {
	background: #152e53;
	color: white;
	font-size: 50px;

	text-align: right;
}

.innerheader {
	width: 100px;
	height: 50%;
	display: block;
	background: #152e53;
	margin-top: 5px;
}

.icon {
	font-size: 17px;
	margin-right: 5%;
	letter-spacing: 6px;
	font-family: 'Exo 2', sans-serif;
}

.why {
	border: grey 3px solid;
	border-radius: 8px;
	color: #152e53;
	width: 30em;
	float: left;
	height: 10em;
}

.value {
	border: grey 3px solid;
	border-radius: 8px;
	color: #152e53;
	width: 30em;
	float: right;
	height: 10em;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #152e53;
	color: white;
	text-align: center;
}

.matching {
	font-family: 'Comfortaa', cursive;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.2cm;
}

html {
	line-height: 1.15;

	-ms-text-size-adjust: 100%;

	-webkit-text-size-adjust: 100%;
}

legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	color: #152e53;
	/* 1 */
}

fieldset {
	margin: 0;
	padding: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;
	border: 0;
	color: #152e53;
}

 {
	box-sizing: border-box;
}

.s01 {
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	background: url("backimage4.jpg");

	background-position: center center;
	padding: 50px;
}

.s01 form {
	width: 100%;
	max-width: 1290px;
}

.s01 form legend {
	font-size: 72px;
	line-height: 1;
	color: #152e53;
	margin-bottom: 60px;
}

.s01 form .inner-form {
	background: rgba(0, 0, 0, 0.5);
	padding: 50px 47px;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 400px;
}

.s01 form .inner-form .input-field {
	margin-right: 30px;
	height: 38px;
}

.s01 form .inner-form .input-field input {
	height: 100%;
	background: #fff;
	border-radius: .5px;
	border: 0;
	display: block;
	width: 75%;
	padding: 10px 32px;
	font-size: 20px;
}

.s01 form .inner-form .input-field input.placeholder {
	color: #152e53;
	font-size: 20px;
}

.s01 form .inner-form .input-field input:-moz-placeholder {
	color: #152e53;
	font-size: 20px;
}

.s01 form .inner-form .input-field input::-webkit-input-placeholder {
	color: #152e53;
	font-size: 20px;
}

.s01 form .inner-form .input-field input:hover,
.s01 form .inner-form .input-field input:focus {
	box-shadow: none;
	outline: 0;
}

.s01 form .inner-form .input-field.first-wrap {
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.s01 form .inner-form .input-field.second-wrap {
	width: 32.77%;
	min-width: 180px;
}

.s01 form .inner-form .input-field.third-wrap {
	width: 180px;
	margin-right: 0;
}

.s01 form .inner-form .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;
	background: #152e53;
	white-space: nowrap;
	border-radius: .5px;
	font-size: 20px;
	color: #fff;
	transition: all .2s ease-out, color .2s ease-out;
	border: 0;
	cursor: pointer;
}

.s01 form .inner-form .input-field.third-wrap .btn-search:hover {
	background: #2d62d3;
}

@media screen and (max-width: 992px) {
	.s01 form legend {
		font-size: 50px;
		text-align: center;
		margin-bottom: 50px;
	}

	.s01 form .inner-form {
		padding: 30px 35px;
	}

	.s01 form .inner-form .input-field {
		height: 50px;
	}
}

@media screen and (max-width: 767px) {
	.s01 form legend {
		font-size: 40px;
		margin-bottom: 40px;
	}

	.s01 form .inner-form {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 20px;
	}

	.s01 form .inner-form .input-field {
		margin-right: 0;
	}

	.s01 form .inner-form .input-field input {
		padding: 5px 15px;
		font-size: 16px;
	}

	.s01 form .inner-form .input-field.first-wrap {
		width: 100%;
		margin-bottom: 20px;
	}

	.s01 form .inner-form .input-field.second-wrap {
		width: calc(50% - 10px);
		min-width: auto;
	}

	.s01 form .inner-form .input-field.third-wrap {
		width: calc(50% - 10px);
	}

	.s01 form .inner-form .input-field.third-wrap .btn-search {
		font-size: 16px;
	}
}
